<h1>Noticias!</h1>
<p>Esto es lo que esta pasando cheee!</p>

<% @articulos.each do |articulo| %>
  <div class="formatted_articulo">
    <p id="fecha"><%= articulo.created_at.strftime("%A %d %h of %Y - %H:%M hs") %></p>
    <p id="titulo"><%= articulo.titulo %></p>
    <p id="autor">por <%= link_to (get_autor articulo), :controller => "autor", :action => "show", :id => (get_autor_id articulo) %></p>
    <p><%= articulo.cuerpo[0..140] %></p><br />
    <p id="hits"><%= "#{articulo.hits.count} visitas a este articulo" if (articulo.hits.count > 1)%></p>
    <p id="hits"><%= "#{articulo.hits.count} visita a este articulo" if (articulo.hits.count == 1)%></p>
    <p id="leermas"><%= link_to "leer mas...", :controller => "home", :action => "show", :id => articulo.id %></p>
  </div>
<% end %>


