<h1>Noticias!</h1>
<p>Esto es lo que esta pasando cheee!</p>

<div class="formatted_articulo">
  <p id="fecha"><%= @articulo.created_at.strftime("%A, %h %d %Y, %H:%M hs") %></p>
  <p id="titulo"><%= @articulo.titulo %></p>
  <p id="autor"><%= get_formatted_autor @articulo %></p>
  <p><%= @articulo.cuerpo %></p>
  <p id="categorias">
  <% articulo.categories.each do |c| %>
    <%= c.nombre %> 
  <% end %>		
  </p>
</div>



