<h1>Mis articulos</h1>

<%= link_to 'Crear Articulo', new_articulo_path %>

<% @articulos.each do |articulo| %>
  <div class="formatted_articulo">
    <p id="fecha"><%= articulo.created_at.strftime("%A %d %h of %Y - %H:%M hs") %></p>
    <p id="titulo"><%= articulo.titulo %></p>
    <p><%= articulo.cuerpo %></p><br />
    <p id="comentarios"><%= "#{articulo.comments.count} comentarios de este articulo" if (articulo.comments.count > 0) %></p>
    <p id="comentarios"><%= "No hay comentarios de este articulo" if (articulo.comments.count == 0) %></p>
    <p id="hits"><%= "#{articulo.hits.count} visitas a este articulo" if (articulo.hits.count > 1)%></p>
    <p id="hits"><%= "#{articulo.hits.count} visita a este articulo" if (articulo.hits.count == 1)%></p>
    <p id="acciones"><%= link_to 'Ver', articulo %> |
    <%= link_to 'Editar', edit_articulo_path(articulo) %> |
    <%= link_to 'Eliminar', articulo, confirm: 'Esta seguro?', method: :delete %>
  </div>
<% end %>
